.SubtitleListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--background);
  border: 2px solid var(--background);
  border-radius: 15px;
  &.current {
    border: 2px solid var(--main);
  }
  .flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: auto;
  }
  .flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 auto;
  }
  .time {
    color: var(--second);
    font-size: 13px;
    flex: 0 0 70px;
  }
  .checkbox {
    width: 18px;
    height: 18px;
    flex: 0 0 auto;
    border-radius: 4px;
    border: 1px solid var(--separator);
    background-color: var(--background);
    margin-right: 18px;
  }
  .text {
    color: var(--text);
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: text;
  }
  .favorite {
    &.active {
      fill: var(--main);
    }
  }
  .favorite,
  .other {
    fill: var(--separator);
		height: 19px;
		transition: all .2s ease-in-out;
		&.active{
			fill: var(--main);
		}
  }
  .favorite,
  .other-menu-wrapper {
    margin-left: 15px;
    flex: 0 0 auto;
  }
  .other-menu-wrapper {
    position: relative;
  }
  .favorite,
  .other,
  .checkbox {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
  transition: all 0.2s ease-in-out;
  cursor: default;

  &:not(.current):hover {
    border: 2px solid var(--separator);
  }
}
