:root{
    --background: #fff;
    --text: #2c2c2c;
    --separator: #e0e0e0;
    --main:#ff0000;
    --second: #a8a8a8;
    --background2:#f8f8f8;
    .dark-theme{
        --background : #000;
    }
}